/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  color: #333;
  letter-spacing: .2rem;
  background-color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.68; }
  body a {
    color: inherit;
    text-decoration: none; }
  body ul {
    list-style: none; }
  body img, body svg {
    width: 100%;
    height: auto;
    vertical-align: bottom; }

.header-inner {
  background-color: #fff;
  position: relative;
  padding: 20px 30px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.3); }
  @media screen and (max-width: 960px) {
    .header-inner {
      justify-content: space-between; } }

.header__sitelogo {
  width: 200px; }

@media screen and (max-width: 960px) {
  .header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 999;
    display: none; } }

.header-nav__list {
  display: flex;
  align-items: center; }
  @media screen and (max-width: 960px) {
    .header-nav__list {
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center; } }

.header-nav__item {
  font-weight: bold;
  line-height: 1.68;
  margin-left: 46px; }
  @media screen and (max-width: 960px) {
    .header-nav__item {
      margin-left: 0;
      margin-bottom: 50px; } }

.header-nav__item:first-of-type {
  margin-left: 0; }

.header-nav__link {
  position: relative;
  display: block;
  padding-bottom: 3px; }
  .header-nav__link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #FA41CC, #6020B0);
    opacity: 0; }

.header-nav__link:hover::before {
  opacity: 1;
  transition: .3s; }

@media screen and (max-width: 960px) {
  .header .more {
    display: none; } }

.header.fixed .header-inner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999; }

.header-nav.open {
  display: block; }

.hamburger {
  display: none; }
  @media screen and (max-width: 960px) {
    .hamburger {
      display: block;
      border: transparent;
      background: transparent;
      outline: none;
      margin-bottom: 10px; }
      .hamburger .hamburger-wrapper {
        display: block;
        position: relative;
        z-index: 999;
        padding: 10px; }
      .hamburger .hamburger__bur {
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: #333; }
        .hamburger .hamburger__bur::before {
          content: "";
          position: absolute;
          top: -8px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #333; }
        .hamburger .hamburger__bur::after {
          content: "";
          position: absolute;
          top: 8px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #333; } }

.hamburger.close .hamburger__bur {
  background-color: transparent; }
  .hamburger.close .hamburger__bur::before {
    top: 0;
    transform: rotate(-45deg); }
  .hamburger.close .hamburger__bur::after {
    top: 0;
    transform: rotate(45deg); }

.footer-copy {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 60px 0 30px 0;
  text-align: center; }

.more {
  background: transparent;
  border: transparent;
  outline: none;
  padding: 0;
  display: block; }
  .more-btn {
    display: block;
    width: 155px;
    min-height: 37px;
    line-height: 37px;
    background: linear-gradient(to right, #FA41CC, #6020B0);
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.3); }

@media screen and (max-width: 580px) {
  .pc-br {
    display: none; } }

.fv {
  position: relative;
  overflow: hidden;
  padding: 100px 0; }
  @media screen and (max-width: 580px) {
    .fv {
      width: 100%;
      background-image: url("../img/fv-bg@2x.png");
      background-size: cover;
      background-position: center top -100px;
      background-repeat: no-repeat;
      padding: 50px 0 130px 0; } }
  .fv-bg {
    position: absolute;
    top: -50%;
    right: -5%;
    z-index: -10; }
    .fv-bg img {
      width: 130%; }
      @media screen and (max-width: 960px) {
        .fv-bg img {
          width: 100%; } }
    @media screen and (max-width: 960px) {
      .fv-bg {
        right: -40%; } }
    @media screen and (max-width: 580px) {
      .fv-bg {
        display: none; } }
  .fv-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 30px; }
    @media screen and (max-width: 580px) {
      .fv-list {
        flex-direction: column; } }
  @media screen and (max-width: 580px) {
    .fv-list__item {
      margin-bottom: 30px; } }
  @media screen and (max-width: 960px) {
    .fv-copy {
      max-width: 80%; } }
  @media screen and (max-width: 580px) {
    .fv-copy {
      margin: 0 auto;
      max-width: 100%; } }
  .fv__ttl {
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 1.7; }
  .fv__txt {
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 1.4rem; }
  @media screen and (max-width: 580px) {
    .fv .more {
      margin: 0 auto; } }

.feature-wrapper, .price-wrapper, .faq-wrapper, .blog-wrapper, .works-wrapper, .contact-wrapper {
  max-width: 1024px;
  margin: 0 auto; }
  @media screen and (max-width: 960px) {
    .feature-wrapper, .price-wrapper, .faq-wrapper, .blog-wrapper, .works-wrapper, .contact-wrapper {
      padding-left: 30px;
      padding-right: 30px; } }

.feature__ttl, .price__ttl, .faq__ttl, .blog__ttl, .works__ttl, .contact__ttl {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 20px; }

.feature__spanttl, .price__spanttl, .faq__spanttl, .blog__spanttl, .works__spanttl, .contact__spanttl {
  display: block;
  font-size: 1.6rem;
  color: #3BA6C9;
  text-transform: uppercase;
  text-align: center; }

.feature__subttl {
  font-size: 2.8rem;
  line-height: 1.7;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 55px; }

.feature__leadttl {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2;
  margin-bottom: 55px; }

@media screen and (max-width: 960px) {
  .pc-br {
    display: none; } }

.noscroll {
  overflow: hidden; }

.feature-wrapper {
  padding-bottom: 150px; }

.feature__txt {
  font-weight: bold;
  line-height: 1.62; }

.feature-list {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 960px) {
    .feature-list {
      flex-direction: column; } }

@media screen and (max-width: 960px) {
  .feature-list__item {
    margin-bottom: 30px; } }

.feature-content {
  margin-bottom: 140px; }
  @media screen and (max-width: 960px) {
    .feature-content {
      margin-bottom: 100px; } }

.feature-content:last-of-type {
  margin-bottom: 0; }

.feature .reverse {
  flex-direction: row-reverse; }
  @media screen and (max-width: 960px) {
    .feature .reverse {
      flex-direction: column; } }

.price {
  background-color: #EEFBFB; }
  .price-wrapper {
    padding-top: 65px;
    padding-bottom: 70px; }
  .price__spanttl {
    margin-bottom: 70px; }
  .price-table {
    margin-bottom: 40px; }
  .price__txt {
    font-weight: bold;
    text-align: center; }
  .price table {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); }
    .price table tr {
      border-bottom: #e5e5e5 1px solid; }
      @media screen and (max-width: 580px) {
        .price table tr {
          display: flex;
          flex-direction: column; } }
    .price table th {
      border-right: #e5e5e5 1px solid;
      white-space: nowrap;
      text-align: left;
      padding: 30px;
      vertical-align: middle;
      width: 30%; }
      @media screen and (max-width: 580px) {
        .price table th {
          width: 100%;
          padding: 40px 0;
          border: transparent;
          border-bottom: #e5e5e5 1px solid;
          text-align: center;
          font-size: 1.4rem; } }
    .price table td {
      vertical-align: middle;
      width: 70%;
      padding-left: 30px;
      font-weight: bold; }
      @media screen and (max-width: 580px) {
        .price table td {
          width: 100%;
          padding: 0;
          padding: 20px 0;
          text-align: center; } }

.faq-wrapper {
  padding-top: 65px;
  padding-bottom: 70px; }

.faq__spanttl {
  margin-bottom: 35px; }

.faq-acMenu {
  width: 100%; }
  .faq-acMenu dt, .faq-acMenu dd {
    padding: 30px 35px;
    border: #e5e5e5 1px solid;
    font-weight: bold;
    user-select: none; }
  .faq-acMenu dt {
    text-align: center;
    cursor: pointer; }
  .faq-acMenu dd {
    background-color: #F2F2F2;
    display: none; }

.faq .faq-acMenu dd.open {
  display: block; }

.blog {
  background-color: #EEFBFB; }
  .blog-wrapper {
    padding-top: 65px; }
  .blog__spanttl {
    margin-bottom: 60px; }
  .blog-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px; }
    @media screen and (max-width: 960px) {
      .blog-list {
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px; } }
  .blog-list__item {
    max-width: 320px;
    background-color: #fff;
    margin-right: 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4); }
    @media screen and (max-width: 960px) {
      .blog-list__item {
        margin-right: 0;
        margin-bottom: 30px; } }
  .blog-list__item:last-of-type {
    margin-right: 0;
    margin-bottom: 0; }
  .blog-desc {
    min-height: 117px;
    padding: 20px 10px;
    position: relative; }
  .blog__txt {
    font-weight: bold; }
  .blog time {
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1.4rem; }

.works {
  padding-bottom: 70px; }
  @media screen and (max-width: 960px) {
    .works {
      padding-left: 30px;
      padding-right: 30px; } }
  .works-wrapper {
    padding-top: 65px; }
  .works__spanttl {
    margin-bottom: 70px; }
  .works-content {
    background-color: #fff;
    border: #E5E5E5 1px solid;
    border-radius: 15px;
    box-sizing: border-box; }
  .works__img {
    min-height: 200px; }
  .works-desc {
    padding: 20px;
    position: relative; }
  .works__leadtxt {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 1.4rem; }
  .works__txt {
    font-weight: bold;
    font-size: 1.4rem; }

.contact {
  background: linear-gradient(to right, #05A5FA, #63FBD7);
  padding-bottom: 70px; }
  .contact-wrapper {
    padding-top: 65px; }
  .contact__ttl {
    color: #fff; }
  .contact__spanttl {
    color: #fff;
    margin-bottom: 45px; }
  .contact__txt {
    text-align: center;
    color: #fff;
    margin-bottom: 40px; }

.form {
  background-color: #fff;
  max-width: 910px;
  margin: 0 auto;
  padding: 40px 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); }
  @media screen and (max-width: 960px) {
    .form {
      margin-right: 30px;
      margin-left: 30px;
      padding: 20px; } }
  .form-list__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px; }
  .form__label {
    font-weight: bold;
    margin-bottom: 40px; }
    @media screen and (max-width: 580px) {
      .form__label {
        font-size: 1.4rem; } }
  .form__span {
    display: inline-block;
    width: 60px;
    min-height: 30px;
    color: #fff;
    background-color: #0C449B;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 20px; }
  .form input, .form textarea {
    border: #E5E5E5 1px solid;
    background-color: #EEFBFB;
    border-radius: 5px;
    padding: 15px 10px; }
  .form input[type="submit"] {
    cursor: pointer;
    border: transparent;
    margin-bottom: 50px; }
  .form .more {
    margin: 0 auto; }
    .form .more .more-btn {
      padding: 0; }
  .form .confirm {
    text-align: center;
    margin-bottom: 50px; }
  .form small {
    color: #b93b3b;
    margin-top: 20px;
    display: none;
    font-size: 1.3rem; }
  .form .more-btn.disabled {
    background: #ddd;
    cursor: auto; }
  .form .more-btn.enabled {
    background: linear-gradient(to right, #FA41CC, #6020B0);
    cursor: pointer; }
