@import "../setting/config";

.hamburger {

    display: none;

    @include mq(md) {
        display: block;
        border: transparent;
        background: transparent;
        outline: none;
        margin-bottom: 10px;
        
        .hamburger-wrapper {
            display: block;
            position: relative;
            z-index: 999;
            padding: 10px;
        }
        .hamburger__bur {
            position: absolute;
            width: 25px;
            height: 2px;
            background-color: $txt-color;
            &::before {
                content: "";
                position: absolute;
                top: -8px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $txt-color;
            }
            &::after {
                content: "";
                position: absolute;
                top: 8px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $txt-color;
            }

        }
        
    }
}

//jQuery
.hamburger.close {
    .hamburger__bur {
        background-color: transparent;
        &::before {
            top: 0;
            transform: rotate(-45deg);
        }
        &::after {
            top: 0;
            transform: rotate(45deg);
        }

    }
}