@import "../setting/config";
@import "../mixin/responsive";

.header {
    &-inner {
        background-color: #fff;
        position: relative;
        padding: 20px 30px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0 3px 6px -2px rgba(#000,.3);
        @include mq(md) {
            justify-content: space-between;
        }
    }


    &__sitelogo {
        width: 200px;
    }

    &-nav {
        @include mq(md) {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: #fff;
            z-index: 999;
            display: none;
        }
    }
    
    &-nav__list {
        display: flex;
        align-items: center;
        @include mq(md) {
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
        }
    }
    
    &-nav__item {
        font-weight: bold;
        line-height: 1.68;
        margin-left: 46px;
        @include mq(md) {
            margin-left: 0;
            margin-bottom: 50px;
        }
    }
    
    &-nav__item:first-of-type {
        margin-left: 0;
    }
    &-nav__link {
        position: relative;
        display: block;
        padding-bottom: 3px;
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: linear-gradient(to right,#FA41CC,#6020B0);
            opacity: 0;
        }
    }

    &-nav__link:hover::before {
        opacity: 1;
        transition: .3s;
    }


    .more {
        @include mq(md) {
            display: none;
        }
    }
}

//jQuery

.header.fixed {
    .header-inner {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }
}

.header-nav.open {
    display: block;
}


