@import "../setting/config";

.more {
    background: transparent;
    border: transparent;
    outline: none;
    padding: 0;
    display: block;
    &-btn {
        display: block;
        width: 155px;
        min-height: 37px;
        line-height: 37px;
        background: linear-gradient(to right,#FA41CC,#6020B0);
        color: #fff;
        font-size: 1.4rem;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 10px;
        box-shadow: 0 3px 6px -2px rgba(#000,.3);
    }
}